/* HEADER (NAV)(SEARCH IMAGE) */
header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: rgb(59, 146, 117);
    opacity: 0.85;
}

#div-header {
    width: 80%;
    min-height:40%;
    padding: 10% auto;
    margin: 4% auto;
    background-image: url("../images/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(69, 69, 100);
    text-align: center;
    border-radius: 10px;
}

h1 {
    padding-top: 4%;
    font-weight: 600;
    color: rgb(59, 146, 117);
}

.search-container-2-flex-row {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    padding: 150px 100px 300px 150px;
}

.search-container-2-column{
    padding-left: 5%;
}

.btn-search {
    margin: 4%;
}

h3 {
    font-weight: 600;
    color: rgb(59, 146, 117);
}


/* BODY */
body {
    background-color: #ff94518e;
    text-align: center;
}


/* SECTION */
.show-container {
    width: 80%;
    margin: 8% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
    
}

/* SECTION RECIPIES */
.recipies-section{
    display: none;
}

.display-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    width: 80%;
    margin: 4% auto;
    /* border: 4px solid rgb(59, 146, 117); */
    border-radius: 15px;
}

.recipe-div {
    border: 3px solid rgb(59, 146, 117);
    padding: 1%;
    margin: 1%;
    border-radius: 15px;
    text-align: center;
    max-width: 28%;
}

.recipe-div button {
    margin: 5%;
}

.add-recipe-button {
    font-size: 35px;
    font-weight: 700;
    background-color: greenyellow;
    border-radius: 40%;
    padding: 20px;
    margin: 30px;
    max-height: 3%;
}

.recipe-div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px 0px;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 146, 117);
    border-radius: 30px 30px 0 0;
    border: 2px solid #ff94518e;
    opacity: 0.8;
}

.footer-text{
    color: azure;
    margin-top: 2%;
}

.social{
    margin: 3% auto;
}

.social i{
    font-size: 2.5em;
    padding: 0 20px;
}

footer p{
    font-size: 0.7em;
    margin-bottom: 20px;
}

.social a:hover{
    color: azure;
}


/* TABLET AND PHONE */
@media only screen and (max-width: 972px) {
    #div-header {
        
        padding: 0;
    }

    .search-container-2-flex-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10%;
    }

    .search-container-2-column{
        margin: 5% auto;
    }

    footer{
        border-radius: 0;
    }

    .social i{
        font-size: 1.5em; 
    }

    footer p{
        text-align: center;
    }

    .display-flex {
        flex-direction: column;
        align-items: center;
    }

    .recipe-div {
        width: 85%;
        max-width: 100%;
    }
}
